.button {
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 40px;
    border-radius: 4px;
    transition: background-color 150ms ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-accent-light);
}

.button:active {
    background-color: var(--color-accent-dark);
}

.button:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.button * {
    white-space: nowrap;
}

.title {
    flex: 1;
    text-align: center;
}