.subscriptions {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.no-subscriptions {
    font-size: 32px;
    font-weight: 700;
    margin: 200px auto;
}