.header {
    display: flex;
    flex-direction: column;
    position: sticky;
    backdrop-filter: blur(33px);
    background-blend-mode: overlay;
}

.row {
    padding: 16px 0;
    display: flex;
    align-items: center;
}

.title {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to right,
            #7953cd 20%,
            #00affa 30%,
            #0190cd 70%,
            #764ada 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: text-shine 5s ease-in-out infinite alternate;
    margin-bottom: 30px;
}

.right {
    margin-left: auto;
}

.logo {
    filter: invert(100%);
}

@keyframes text-shine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}